# Виртуальное окружение
venv/
env/
.venv/

# Django
*.pyc
__pycache__/
*.pyo
db.sqlite3
media/
staticfiles/

# Celery
celerybeat-schedule
celerybeat-schedule-*

# Environment
.env

# SSH keys
123
123.pub

# IDE
.idea/
.vscode/
*.swp
*.swo
main.py

# OS
.DS_Store
Thumbs.db
