# Виртуальное окружение
venv/
env/
.venv/

# Django
*.pyc
__pycache__/
*.pyo
db.sqlite3
media/
staticfiles/

# Celery
celerybeat-schedule
celerybeat-schedule-*

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
